* {
  margin: 0;
  padding: 0;
}
.inter-fonts {
  font-family: "Inter", sans-serif;
}
/* navbar style */
.navbar {
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px auto;
}
.menu ul {
  display: flex;
  gap: 32px;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.btn-primary {
  padding: 13px 16px;
  border-radius: 4px;
  border: none;
  background-color: #469165;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #3d9b64;
}

/* hero section style */
.hero {
  background: linear-gradient(#408487, transparent),
    url(./../assets/hero-bg.png);
  /* width: 1600px; */
  height: 674px;
  background-repeat: no-repeat;
  background-position: center;
}
.early-btn {
  display: flex;
  justify-content: center;
  padding: 115px;
  padding-bottom: 16px;
}

.early-access {
  padding: 6px 14px;
  color: #469165;
  background: #ffffff;
  border-radius: 50px;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  flex-direction: row;
}
.bulet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #98d6b2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bulet .bulet-2 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #82a390;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bulet .bulet-2 .bulet-3 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #508566;
}
.hero-tittle {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.hero-tittle .green-text {
  color: #34c06e;
}
.hero p {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin: 20px 0;
  text-align: center;
}
.btn {
  text-align: center;
}
.btn-1 {
  margin-right: 16px;
  padding: 16px 46px 16px 16px;
  border-radius: 4px;
  font-weight: 600;
  border: none;
  background-color: #34c06e;
  color: #ffffff;
  cursor: pointer;
}
.btn-1:hover {
  background-color: #30a661;
}
.btn-2 {
  margin-right: 16px;
  padding: 16px;
  font-weight: 600;
  border-radius: 4px;
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
}

.btn-2:hover {
  background-color: #408487;
}

/* card section style */
.card-section h2 {
  margin-top: 40px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #001931;
}
.card-section p {
  margin-top: 16px;
  margin-bottom: 44px;
  font-size: 16px;
  color: #627382;
  text-align: center;
}
.card-container {
  display: flex;
  gap: 24px;
  max-width: 1360px;
  margin: 20px auto;
}
.card {
  max-width: 322px;
  padding: 50px 24px;
  box-shadow: 0px 0px 8px 0px #000000;
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px auto;
}
.card h4 {
  font-size: 24px;
  font-weight: 500;
  color: #001931;
  text-align: center;
}
/* brain container style */
.brain-container {
  max-width: 1360px;
  margin: 120px auto;
  display: flex;
  gap: 60px;
  align-items: center;
}

.brain-content {
  max-width: 700px;
}

.brain-content p {
  font-size: 16px;
  font-weight: 500;
  color: #469165;
}
.brain-content h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-top: 16px;
}
.brain-content .brain-paragraph {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-top: 16px;
  margin-bottom: 40px;
}
.list-para p {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 16px;
}
.challenge-section {
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
  background-color: #f7f6f2;
  padding: 80px 0;
}
.challenge-section h2 {
  font-size: 40px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}
.challenge-section p {
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  margin-bottom: 24px;
}
.challenge-section .btn-primary {
  margin-bottom: 16px;
}
/* footer section style */
.footer-container {
  background-color: #001931;
  margin-top: 120px;
}
.footer-content {
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 130px 0;
}
.social-icon h4 {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}
.social-icon i {
  background-color: #ffffff;
  color: #000000;
  margin-top: 16px;
  margin-right: 16px;
  border-radius: 50%;
  padding: 5px;
}
.footer-container p {
  font-size: 16px;
  text-align: center;
  color: #fafafa;
  padding-bottom: 30px;
}
