* {
  margin: 0;
  padding: 0;
}
.inter-fonts {
  font-family: "Inter", sans-serif;
}
/* navbar style */
.navbar {
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px auto;
}
.menu ul {
  display: flex;
  gap: 32px;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.btn-primary {
  padding: 13px 16px;
  border-radius: 4px;
  border: none;
  background-color: #469165;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #3d9b64;
}
